h1 {
    text-align: center;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #41495b;
    overflow-x: hidden;
    /*padding-top: 45px;*/
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.dropdown-btn {
    background-color: #86c5da !important;
    color: #f6f6f6 !important;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #41495b;
    padding-left: 8px;
    display: block;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.top-nav, .navbar {
    background-color: #fed67e;
}

.navbar-brand {
    margin-bottom: 15px;
}

.topbar-btn {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    text-shadow: 0 0 2px rgba(52, 73, 94, 0.4);
}